*{
  margin:0px;
  padding:1px;
  box-sizing:border-box;
}

@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssnav,
#cssnav ul,
#cssnav ul li,
#cssnav ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}
#cssnav:after,
#cssnav > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;

}
#cssnav {
  width: auto;
  border-bottom: 3px solid #211545;
  font-family: Raleway, sans-serif;
  line-height: 1;

}
#cssnav ul {
  background: #ffffff;

}
#cssnav > ul > li {
  float: left;

}
#cssnav.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssnav.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssnav.align-right > ul > li {
  float: right;
}
#cssnav.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssnav > ul > li > a {
  z-index: 2;
  padding: 18px 25px 12px 25px;
  font-size: 25px;
  font-weight: 400;
  font-weight: bolder;
  text-decoration: none;
  color: #444444;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssnav > ul > li.active > a,
#cssnav > ul > li:hover > a,
#cssnav > ul > li > a:hover {
  color: #ffffff;
}
#cssnav > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssnav > ul > li.active > a:after,
#cssnav > ul > li:hover > a:after,
#cssnav > ul > li > a:hover:after {
  background: #211545;
}
input#search {
    background-image: url("search.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: 50px;
    width: 200px;
    height: 36px;
}



/*css for sidebar*/

.submenu{
  overflow: hidden;

  max-height: 0.1px;
  -webkit-transition: all 0.5s ease-out;
  text-align: left;
  font-size: 12px;
  margin:5px;

}

.mainmenu li:hover .submenu{

  max-height: 230px;


}


.mainmenu{
  font-size: 14px;
  background-color:  #211545;
  margin: 0;
  color: white;
  font-weight: bolder;
  font-variant: norm
}

.mainmenu a:hover{
  color: black;
  background-color: white;
  font-style: normal;
  display: inline-flex;

}

.mainmenu a{
  display: inherit;
  color: white;
  height: 20px;
  text-decoration: none;
}

button {
  background-color: white;
  color: #211545;
  border-radius: 2px;
  padding: 14px 52px;
  margin: 8px 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bolder;
  font-family: monospace;

}

button:hover {
  opacity: 1;
  background-color: Grey;
  display:block;
  color: white;
  font-family: monospace;
}
.navigation{
  width: 200px;
  height: 400px;
  display: grid;
  padding-left: 20px;
  padding-top: 20px;
}

nav{
  float: left;
}


.submenu li {
  display:inline-flex;;
  list-style: none;
  flex-direction:column;
  justify-content: space-around;
}

/*try gsreko css*/
#sidebar {
  position:relative;
  display: inline-flex;
  left:-230px;
  transition:all 500ms linear;
  float:left;
  opacity: 1;
  cursor: pointer;
}


#sidebar.active {
  left: 0px;
}

#sidebar ul li {
  list-style: none;

}
.toggle-btn {
  position: absolute;
  left: 230px;
  top: 20px;
}
.toggle-btn span{
  display:block;
  width:30px;
  height:5px;
  background-color:black;
  margin:3px;
}


/*Styling breadcrumb pagination.*/
.bread-crumb-pagination ul li{
  list-style: none;
  display: inline-flex;
  padding:5px;
  font-size: 16px;

}

.bread-crumb-pagination li+li:before{
  content:"/\00a0\00a0";
}

.bread-crumb-pagination a{
  text-decoration: none;
  color:#e9281f;
  font-weight: bold;
  cursor: pointer;
}

/*Styling the page title.*/
.page-title h1{
  font-family: 'Nunito', sans-serif;
  background-color: #211545;
  color:white;
  border:40px;
  width:100%;
  padding:25px;

}
