*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}
body{
  background:lightgrey;
}

.nav{
  display:flex;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  min-height:8vh;
  background-color:#7b0409;
  font-family: 'Nunito', sans-serif;
}

.login-learnline a{
  color:white;
  text-decoration: none;
  letter-spacing:1px;
  font-size:18px;
  border:2px solid #4ab64a;
  background-color:#4ab64a;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width:100%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color:white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight:bold;
  }

.nav-links a:hover{
  ;
}
.hamburger{
  display:none;
  cursor: pointer;
  color:white;
  font-size: 20px;
  font-weight: bold;
}

.bread-crumb-pagination ul li{
  list-style: none;
  display: inline-flex;
  padding:5px;
  font-size: 16px;
}

.bread-crumb-pagination li+li:before{
  content:"/\00a0\00a0";
}

.bread-crumb-pagination a{
  text-decoration: none;
  color:#e9281f;
  font-weight: bold;
  cursor: pointer;
}

.page-title h1{
  font-family: 'Nunito', sans-serif;
  background-color: #040444;
  color:white;

}

/*Styling the cards. Cards are directly taken from Prac 4 (Sudarshan's card).*/
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Removing extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clearing floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  background:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 4px;
  text-align: center;
  border-radius:10px 0 0 0;
  border-top: 2px solid darkblue;
  border-left: 2px solid darkblue;
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
}

/*Styling title of card. */
.card>p.card_title{
    color: #222;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
}

/*Rounding the border of image.*/
.card img{
  border-radius:10px 0 0 0;
  width:100%;
}

.card:hover {
  box-shadow: 0 24px 40px 0 #ffac00f2;
}
/*styling texts of card. */
.container{
  padding: 2px;
  text-align:left;
  font-family: 'Nunito', sans-serif;
}

/*Responsive CSS*/
@media screen and (max-width:768px){
  body{
    overflow-x:hidden;
  }
  .nav-links{
    position: absolute;
    left:0vh;
    height:72vh;
    top:8vh;
    background-color:#5d4954;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:50%;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .hamburger{
    display:block;
  }

  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}



.nav-active{
  position: absolute;
  left:0vh;
  height:72vh;
  top:8vh;
  background-color:#5d4954;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:50%;
  transform: translateX(0%);
  transition: transform 0.5s ease-in;
}

@keyframes navLinkFade{
  from{
    opacity:0;
    transform:translateX(50px);
  }
  to{
    opacity:1;
    transform:translateX(0%);
  }
  }
}
