*{
  padding:0px;
  margin:0px;
  box-sizing: border-box;
}

.topnav{
  display:flex;
  color:white;
  justify-content: space-around;
  text-align:left;
  background-color:maroon;
}

.utility ul{
  display: inline-flex;
  background-color:green;
  justify-content: space-around;
  width:50%
}

.utility ul li{
  list-style: none;
}

.utility a {
  color:white;
  justify-content: space-around;
  text-decoration: none;
  font-weight: bold;
  cursor:pointer;
}

.hamburger{
  font-size: 26px;
  margin:0 40px 0 0;
  display:none;
}

.login-learnline{
  background-color:grey;
}

.login-learnline a{
  text-decoration:none;
  color:white;
}
.bread-crumb-pagination a{
  text-decoration:none;

}

/*
@media  screen and (max-width:500px){
  label{
    display: block;
    cursor:pointer;
  }
  #toggle:checked + .utility{
    display:block;
  }
  .utility{
    text-align:center;
    width:100%;
    border-bottom: 1px solid #EAEAEB;
    margin:0;
  }

}
*/
@media only screen and (max-width: 500px) {

 .hamburger {
        display: block;
        cursor: pointer;
    }
    #toggle{
      display:none;
    }

.utility {
        text-align: center;
        width: 100%;
        display: none;
        margin:0 30px 0 0;
        background-color:maroon;
        }



.utility a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;

    }

#toggle:checked  + .utility {
        display: block;
    }


}
