<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Study Skills | Introduction to Academic Assignments </title>
    <link rel="stylesheet" type="text/css" href="../css/minimum.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="description" content="Academic Assignments">
    <meta name="keywords" content="Team 3s, Study Skills, Academic Assignments, Essay, Drafting Essays,
                Constructing Essays, Sample Essays, Interactive Sample Essay, Reports, Report Formats,
                Reading and Writing about Data, Other Assignments, Critiques, Annotated bibliographies,
                Literature Reviews, Help with Assignments, Assignment Help">
		<meta name="author" content="Teams 3S, Sudarshan Kumar Bhattarai, Samundra Dhakal, Sarjeev Adhikari">
		<meta http-equiv="refresh" content="60">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>

<body>
  <div class="nav">
      <div class="hamburger">
        &#9776;  Menu
      </div>
      <ul class="nav-links">
        <li><a href="http://www.cdu.edu.au"> CDU Home </a></li>
        <li><a href="http://stapps.cdu.edu.au/pls/apex/f?p=100:30:3329404811806764">Courses</a></li>
        <li><a href="https://www.cdu.edu.au/faculties-schools">Faculties &amp; Schools</a></li>
        <li><a href="http://www.cdu.edu.au/learning-teaching">Learning &amp; Teaching</a></li>
        <li><a href="http://www.cdu.edu.au/library"> Library </a></li>
        <li><a href="http://www.cdu.edu.au/campuses-centres">Campuses &amp; Centres</a></li>
        <li><a href="http://www.cdu.edu.au/about/contact-cdu">Contact Us</a></li>
        <li><a href="http://www.cdu.edu.au/sitemap.html">Site Map </a></li>
        <li class="login-learnline"><a href="http://online.cdu.edu.au">Learnline Login </a></li>
      </ul>
    </div>

    <div class="header-logo">
      <a href="../index.html"><img src="../images/allsp.gif" width="406" height="73" alt="Charles Darwin University" /></a>
    </div>

    <div class="bread-crumb-pagination">
      <ul>
        <li><a href="http://learnline.cdu.edu.au/studyskills/index.html">Study Skills</a></li>
        <li>Academic Assignments</li>
      </ul>
    </div>

    <div class="page-title">
      <h1>Academic Assignment</h1>
    </div>

    <div class="inserting-cards">
      <div class="row">
        <div class="column">
          <div class="card">
            <p class="card_title">Academic Assignments</p>
        		<img src="../images/essay.jpg" alt="Avatar">
        		<div class="container">
              <h4>Essay</h4>
        			<p>This link explores Drafting essays, Constructing Essays, Sample Essays and Interactive Sample Essay. </p>
        		</div>
          </div>
        </div>


        <div class="column">
          <div class="card">
            <p class="card_title">Academic Assignments</p>
        		<img src="../images/report.jpg" alt="Avatar">
        		<div class="container">
              <h4>Reports</h4>
        			<p>This link explores Reports, report formats and Reading and Writing about Data. </p>
        		</div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <p class="card_title">Academic Assignments</p>
        		<img src="../images/critique.jpg" alt="Avatar">
        		<div class="container">
              <h4>Other Assignment Types</h4>
        			<p>This link explores Critiques Writing, Annotated and Literature Reviews. </p>
        		</div>
        </div>
      </div>
  	</div>

    <script src="../js/minimum.js"></script>
  </body>
</html>
